#main {
    display: flex;
    justify-content: center;
}

body {
    text-align: center;
    background-color: whitesmoke; 
}

#number {
    margin-top: 100px;
    padding: 24px;
    background-color: #0004FA;
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
    border-radius: 12px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    padding-top: 100px;
    box-sizing: border-box;
}

.grid-square {
    flex-basis: calc(100% / var(--grid-size));
    border: 1px solid black;
    aspect-ratio: 1;
    box-sizing: border-box;
}
  .hovered {
    background-color: red;
  }